# Entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/
jspm_packages/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Gemini / Antigravity metadata
.gemini/
